.card {
    max-width: 100%;
}

.card img {
    height: auto;
    width: auto;
    max-height: 500px;
    /* object-fit: contain; */
    object-fit:cover;
}

.card a {
    text-decoration: none;
    color: #009FFF;
}