.card-details {
    max-width: 100%;
}

.card-details img {
    height: auto;
    width: auto;
    max-height: 500px;
    /* object-fit: contain; */
    object-fit:cover;
}

.card-details a {
    text-decoration: none;
    color: #8C4227;
}