.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EECE91;
}

.event-card {
    width: 220px;
    margin: 10px;
}

.no-events-container {
    text-align: center;
    margin-top: 10px; 
}