.card-item {
    width: '18rem';
}

.card-item a {
    text-decoration: none;
    color: #8C4227;
}

.card-item img {
    height: auto;
    width: auto;
    max-height: 200px;
    object-fit: cover;
}

.passed-event {
    background-color: #f2f2f2; 
    opacity: 0.8; 
    filter: grayscale(100%);
  }

.card-body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-links {
    display: flex;
}

.card-links a {
    margin-left: 10px;
}