.card-item {
    width: '18rem';
}

.card-item a {
    text-decoration: none;
    color: #8C4227;
}

.card-item img {
    height: auto;
    width: auto;
    max-height: 200px;
    object-fit: cover;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-button-container {
    margin-left: auto;
}